@model ProductCreateModel;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Add new</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add new</li>
    </ol>
</nav>
<form method="post" asp-action="Add">
    <input asp-for="ThumbnailUrl" type="text" hidden />
    <div class="alert alert-secondary" role="alert">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="Name" class="form-label required"></label>
                <input asp-for="Name" type="text" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Brief" class="form-label"></label>
                <input asp-for="Brief" type="text" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label"></label><br />
                <textarea asp-for="Description" class="form-control mh-100" id="description"></textarea>
            </div>


        </div>
        <div class="col-md-6">
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">

            <fieldset class="scheduler-border float-none w-auto px-3">
                <legend class="scheduler-border">Thumbnail</legend>


                @*TODO: Implement preview before upload*@
                @*src: https://homiedev.com/preview-image-js/*@
                @*src: https://khalidabuhakmeh.com/client-side-image-previews-with-javascript*@
                <form method="post" enctype="multipart/form-data" id="formImageUpload" action="/File/UploadFile">
                    <div class="form-group mb-3">
                        @*<label for="file" class="form-label">Thumbnail</label>*@
                        <div class="d-flex align-items-center gap-2">
                            <input name="file" id="file" type="file" class="form-control d-inline-block" accept="image/png, image/gif, image/jpeg" />
                            <input type="submit" value="Upload" class="btn btn-outline-primary" />

                        </div>
                    </div>
                </form>
                <div class="form-group mb-3 d-flex justify-content-between align-items-center gap-2">
                    <button id="start-camera" type="button" class="btn btn-secondary flex-grow-1">
                        From camera
                    </button>

                    <button id="click-photo" class="btn btn-outline-success" style="width:200px" disabled>Take picture</button>
                </div>
                @*<div>
                <button id="start-camera" >Start Camera</button>
                <video id="video" width="320" height="240" autoplay></video>
                <button id="click-photo">Click Photo</button>
                <canvas id="canvas" width="320" height="240"></canvas>
                </div>*@
                <div class="text-center" id="product-thumbnail-el">
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div id="cameraSection" hidden>
    <video id="video" style="position:fixed; top:20px; right:20px; width:300px; height:200px; z-index:10" autoplay></video>
    <canvas id="canvas" hidden></canvas>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/simple-mde/simplemde.min.js"></script>
    <script src="~/js/admin/products/add.js"></script>
}
