@model IEnumerable<CurrencyDto>
@{
    ViewData["Title"] = "Currency";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Currency</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Symbol</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var currency in Model)
            {
                <tr>
                    <td>@currency.Name</td>
                    <td>@currency.Code</td>
                    <td>@currency.Symbol</td>
                </tr>
            }
        }
    </tbody>
</table>

