@model IEnumerable<CurrencyDto>
@{
    ViewData["Title"] = "Currency";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-2">Currency</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Currency</li>
    </ol>
</nav>

<div class="alert alert-secondary" role="alert">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-primary btn-lg" role="button" href="#">Add new</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Symbol</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var currency in Model)
            {
                <tr>
                    <td>@currency.Name</td>
                    <td>@currency.Code</td>
                    <td>@currency.Symbol</td>
                    <td style="width:150px;">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <div class="btn-group " role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-outline-secondary" >Detail</a>
                                <button type="button" class="btn btn-outline-primary">Edit</button>
                                <form method="post" >
                                    <input name="id" value="" hidden />
                                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

