
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row mt-2">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                Best Sellers
            </div>
            <div class="card-body">
                <div>
                    Product 1
                </div>
                <div>
                    Product 2
                </div>
                <div>
                    Product 3
                </div>
            </div>
        </div>
    </div>

</div>

