@model dynamic
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Marketing/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Newest Products
            </div>
            <div class="card-body">
                <div class="w-100" style="overflow-x: hidden;  display: flex;" id="divNewProducts">
                    @foreach (var newProd in Model.NewestProducts)
                    {
                        <div style="  width: 250px;
                                      max-height:300px;
                                      height: 300px;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;">
                            <a asp-area="Admin" asp-controller="Products" asp-action="Detail" asp-route-id="@newProd.Id" class="h-100 w-100">
                                @if (string.IsNullOrEmpty(newProd.ThumbnailUrl))
                                {
                                    <img src="~/images/no_image_placeholder.jpg" class="img-thumbnail h-100 w-100 " style="object-fit:cover" />
                                }
                                else
                                {
                                    <img src="@newProd.ThumbnailUrl" class="img-thumbnail h-100 w-100" style="object-fit:cover" />
                                }
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
